body{
    background-color: rgba(0, 0, 0, 0.3);
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    background-color: rgba(0, 0, 0, 0.5);
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 30px;
}

.pokemon-img{
    width: 200px;
}


.type-icon {
  width: 32px;
  height: 32px;
  margin: 8px;
}

.overlay {
    position: fixed;
    width: 300px;
    height: 500px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: calc(50% - 150px);
}

.display-none{
    display: none;
}

.overlay-img{
    width: 300px;
}

.overlay-footer{
  
    width: 100%;
    
    background-color: aqua;
    
    
}

.footer-navbar{
    display: flex;
    justify-content: center;
}

.info-space{
    min-height: 50px;
}

.close-overlay{
    right: 0;
    position: fixed;
}

.tab{
   padding: 0 10px;
    
}

    