body{
    background-color: rgba(0, 0, 0, 0.3);
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    background-color: rgba(0, 0, 0, 0.5);
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 30px;
}

.pokemon-img{
    width: 200px;
}


.type-icon {
  width: 32px;
  height: 32px;
  margin: 8px;
}